* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif, 'Bungee', cursive;   
}

html {
    scroll-behavior: smooth;
}   

body {
    background-color: #1f1f1f;
}

.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    max-width: 1920px;
}

.backgroundColor {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: #00916E;
    border: 2px solid black;
}

.letterStroke {
    -webkit-text-stroke: 5px #000;
}

.redBoxHeader {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 816px;
    height: 182px;
    margin-top: 937px;
    margin-left: 190px;
    z-index: 1;
}

.redBoxHeaderBlack {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 816px;
    height: 182px;
    margin-top: 930px;
    margin-left: 181px;
    z-index: 0;
}

.imageBackground {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    height: 880px;
    margin-top: 1028px;
    background-color: #DD6031;
    border: 5px solid black;
    z-index: 0;
}

.mainHeader {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    z-index: 4;
    text-align: center;
    margin-top: 363px;
}

.headerBox {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    height: 268px;
    width: 1164px;
    background-color: #FFCF00;
    margin-top: 266px;
    margin-left: 180px;
    border: 2px solid black;
    z-index: 3;
    border-radius: 5px;
}

.headerBoxBackground {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 1164px;
    height: 268px;
    background-color: #000000;
    margin-top: 284px;
    margin-left: 195px;
    z-index: 2;
    border-radius: 5px;
}

.titleHeader {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin-top: 618px;
    text-align: center;
    z-index: 2;
    border-radius: 5px;
}

.titleBox {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 758px;
    height: 72px;
    background-color: #DD6031;
    margin-top: 612px;
    margin-left: 383px;
    border: 2px solid black;
    z-index: 1;
    border-radius: 5px;
}

.titleBoxBackground {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 758px;
    height: 72px;
    background-color: #000000;
    margin-top: 618px;
    margin-left: 389px;
    z-index: 0;
    border-radius: 5px;
}

.selfImage {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin-top: 1100px;
    margin-left: 602px;
    z-index: 2;
}

.aboutText {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 397px;
    height: 240px;
    margin-top: 1886px;
    margin-left: 351px;
    z-index: 5;
}

.aboutTextBox {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 580px;
    height: 330px;
    background-color: #ffcf00;
    margin-top: 1841px;
    margin-left: 260px;
    border: 2px solid black;
    z-index: 4;
    border-radius: 5px;
}

.aboutTextBoxBg {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 580px;
    height: 330px;
    background-color: #000000;
    margin-top: 1823px;
    margin-left: 241px;
    z-index: 3;
    border-radius: 5px;
}
/* 2nd Text */
.aboutTextSecond {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 422px;
    height: 241px;
    margin-top: 2274px;
    margin-left: 757px;
    z-index: 2;
}

.secondAboutBox {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 580px;
    height: 330px;
    background-color: #DD6031;
    margin-top: 2230px;
    margin-left: 678px;
    border: 2px solid black;
    z-index: 1;
    border-radius: 5px;
}

.secondAboutBoxBg {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 580px;
    height: 330px;
    background-color: #000000;
    margin-top: 2211px;
    margin-left: 703px;
    z-index: 0;
    border-radius: 5px;
}

/* 3rd Text */
.aboutTextThird {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 459px;
    height: 255px;
    margin-top: 2674px;
    margin-left: 320px;
    z-index: 2;
}

.thirdAboutBox {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 580px;
    height: 330px;
    background-color: #ffcf00;
    margin-top: 2637px;
    margin-left: 260px;
    border: 2px solid black;
    z-index: 1;
    border-radius: 5px;
}

.thirdAboutBoxBg {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 580px;
    height: 330px;
    background-color: #000000;
    margin-top: 2618px;
    margin-left: 241px;
    z-index: 0;
    border-radius: 5px;
}

/* 4th Text */
.aboutTextFourth {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 655px;
    height: 216px;
    margin-top: 3115px;
    margin-left: 595px;
    z-index: 2;
}

.fourthAboutBox {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 684px;
    height: 330px;
    background-color: #DD6031;
    margin-top: 3063px;
    margin-left: 566px;
    border: 2px solid black;
    z-index: 1;
    border-radius: 5px;
}

.fourthAboutBoxBg {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 684px;
    height: 330px;
    background-color: #000000;
    margin-top: 3044px;
    margin-left: 595px;
    z-index: 0;
    border-radius: 5px;
}

/* Nav Buttons - Source code: https://getcssscan.com/css-buttons-examples */
.buttonGrid {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    z-index: 1;
}

.buttonWrapper {
    display: flex;
    gap: 46px;
    margin-top: 72px;
    margin-left: 491px;
}

.button-50 {
    appearance: button;
    background-color: #DD6031;
    background-image: none;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: rgb(0, 0, 0) 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #FEEFE5;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    width: 145px;
    height: 45px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-50:focus {
    text-decoration: none;
  }
  
  .button-50:hover {
    text-decoration: none;
  }
  
  .button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .button-50:not([disabled]):active {
    box-shadow: rgb(0, 0, 0) 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }

.navBox {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 1524px;
    height: 92px;
    background-color: #FFCF00;
    margin-top: 51px;
    border: 2px solid black;
    z-index: 0;
}

.footerRedBox {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 1524px;
    height: 610px;
    margin-top: 5390px;
    background-color: #DD6031;
    border: 5px solid black;
    z-index: 0;
}
 .footerYellowBox {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 1524px;
    height: 118px;
    margin-top: 5636px;
    background-color: #FFCF00;
    border: 5px solid black;
    z-index: 1;
}

.redBoxFooterText {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 725px;
    height: 149px;
    margin-top: 5295px;
    margin-left: 399px;
    z-index: 2;
}

.redBoxFooterTextBg {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 725px;
    height: 149px;
    margin-top: 5286px;
    margin-left: 400px;
    z-index: 1;
}

.footerInformation {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 692px;
    height: 40px;
    margin-top: 5675px;
    margin-left: 407px;
    z-index: 4;
}

.footerInformation a{
    text-decoration: none;
    color: #000;
}

#myBtn {
    position: fixed;
    align-items: center;
    z-index: 99;;
    margin-top: 5px;
    width: 36px;
    height: 45px;
    background-color: #FFCF00;
  }

  .topButtonWrapper {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin-left: 4px;
  }
  
  /*Skills box  */
  .skillsRedBox {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 1524px;
    height: 760px;
    margin-top: 3646px;
    background-color: #DD6031;
    border: 5px solid black;
    z-index: 1;
}

.skillsRedBoxText {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 618px;
    height: 145px;
    margin-top: 3560px;
    margin-left: 190px;
    z-index: 3;
}

.skillsRedBoxTextBg {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 611px;
    height: 142px;
    margin-top: 3571px;
    margin-left: 180px;
    z-index: 2;
}

/* Skills list - Source code https://codepen.io/bosworthco/pen/YWBLpR  */

.skillWrapper {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin-top: 3780px;
    margin-left: 190px;
    z-index: 20;
    width: 550px;
    height: 420px;
}
.perspective-text {
    color:#FEEFE5;
    letter-spacing: 1px;
    text-transform: uppercase;   
}

.perspective-line {
    height: 100px;
    overflow: hidden;
    position: relative;
}
.perspective-text {
    margin: 0;
    transition: all 1.0s ease-in-out;
    text-shadow: -2px 0px 4px #000000;
}

.perspective-line:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.667);
}
  .perspective-line:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.333);
}

.perspective-line {
    position: relative;
}
  .perspective-line:hover p{
    transform: translate(0, -100px);
}
  .perspective-line:nth-child(1) {
    left: 29px;
}
  .perspective-line:nth-child(2) {
    left: 58px;
}
  .perspective-line:nth-child(3) {
    left: 116px;
}
  .perspective-line:nth-child(4) {
    left: 150px;
}
  .perspective-line:nth-child(5) {
    left: 145px;
}

.perspective-line:hover p{
    transform: translate(0, -100px);
}
.perspective-text p {
    transition: all 1.0s ease-in-out;
}



.skillNotifyBox {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 320px;
    height: 284px;
    margin-top: 3787px;
    margin-left: 1050px;
    background-color:#FFCF00;
    border: 2px solid black;
    z-index: 20;
}

.skillNotifyBoxBg {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 320px;
    height: 284px;
    margin-top: 3761px;
    margin-left: 1076px;
    background-color:#000000;
    border: 2px solid black;
    z-index: 19;
}

.notifyTextBox {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 250px;
    height: 206px;
    margin-top: 3828px;
    margin-left: 1085px;
    z-index: 22;
}


  
