/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif, 'Bungee', cursive;   
}

html {
  scroll-behavior: smooth;
}   

body {
  background-color: #1f1f1f;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  max-width: 1920px;
}

.container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.backgroundColor {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  background-color: #00916E;
  border: 2px solid black;
}

.letterStroke {
  -webkit-text-stroke: 5px #000;
}

.redBoxHeader {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 816px;
  height: 182px;
  margin-top: 937px;
  margin-left: 190px;
  z-index: 1;
}

.redBoxHeaderBlack {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 816px;
  height: 182px;
  margin-top: 930px;
  margin-left: 181px;
  z-index: 0;
}

.imageBackground {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  height: 880px;
  margin-top: 1028px;
  background-color: #DD6031;
  border: 5px solid black;
  z-index: 0;
}

.mainHeader {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  z-index: 4;
  text-align: center;
  margin-top: 363px;
}

.headerBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  height: 268px;
  width: 1164px;
  background-color: #FFCF00;
  margin-top: 266px;
  margin-left: 180px;
  border: 2px solid black;
  z-index: 3;
  border-radius: 5px;
}

.headerBoxBackground {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 1164px;
  height: 268px;
  background-color: #000000;
  margin-top: 284px;
  margin-left: 195px;
  z-index: 2;
  border-radius: 5px;
}

.titleHeader {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin-top: 618px;
  text-align: center;
  z-index: 2;
  border-radius: 5px;
}

.titleBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 758px;
  height: 72px;
  background-color: #DD6031;
  margin-top: 612px;
  margin-left: 383px;
  border: 2px solid black;
  z-index: 1;
  border-radius: 5px;
}

.titleBoxBackground {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 758px;
  height: 72px;
  background-color: #000000;
  margin-top: 618px;
  margin-left: 389px;
  z-index: 0;
  border-radius: 5px;
}

.selfImage {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin-top: 1100px;
  margin-left: 602px;
  z-index: 2;
}
/* -------------- */
/* 1st About Text */
/* -------------- */
.aboutText {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 397px;
  height: 240px;
  margin-top: 2031px;
  margin-left: 351px;
  z-index: 5;
}

.aboutTextBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 580px;
  height: 330px;
  background-color: #ffcf00;
  margin-top: 1986px;
  margin-left: 260px;
  border: 2px solid black;
  z-index: 4;
  border-radius: 5px;
}

.aboutTextBoxBg {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 580px;
  height: 330px;
  background-color: #000000;
  margin-top: 1968px;
  margin-left: 241px;
  z-index: 3;
  border-radius: 5px;
}
/* -------- */
/* 2nd Text */
/* -------- */
.aboutTextSecond {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 422px;
  height: 241px;
  margin-top: 2419px;
  margin-left: 757px;
  z-index: 2;
}

.secondAboutBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 580px;
  height: 330px;
  background-color: #DD6031;
  margin-top: 2375px;
  margin-left: 678px;
  border: 2px solid black;
  z-index: 1;
  border-radius: 5px;
}

.secondAboutBoxBg {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 580px;
  height: 330px;
  background-color: #000000;
  margin-top: 2356px;
  margin-left: 703px;
  z-index: 0;
  border-radius: 5px;
}
/* -------- */
/* 3rd Text */
/* -------- */
.aboutTextThird {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 459px;
  height: 255px;
  margin-top: 2819px;
  margin-left: 320px;
  z-index: 2;
}

.thirdAboutBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 580px;
  height: 330px;
  background-color: #ffcf00;
  margin-top: 2782px;
  margin-left: 260px;
  border: 2px solid black;
  z-index: 1;
  border-radius: 5px;
}

.thirdAboutBoxBg {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 580px;
  height: 330px;
  background-color: #000000;
  margin-top: 2763px;
  margin-left: 241px;
  z-index: 0;
  border-radius: 5px;
}
/* -------- */
/* 4th Text */
/* -------- */
.aboutTextFourth {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 655px;
  height: 216px;
  margin-top: 3226px;
  margin-left: 640px;
  z-index: 2;
}

.fourthAboutBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 580px;
  height: 330px;
  background-color: #DD6031;
  margin-top: 3186px;
  margin-left: 678px;
  border: 2px solid black;
  z-index: 1;
  border-radius: 5px;
}

.fourthAboutBoxBg {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 580px;
  height: 330px;
  background-color: #000000;
  margin-top: 3167px;
  margin-left: 703px;
  z-index: 0;
  border-radius: 5px;
}
/* ---------------------------------------------------------------------- */
/* Nav Buttons - Source code: https://getcssscan.com/css-buttons-examples */
/* ---------------------------------------------------------------------- */
.buttonGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  z-index: 1;
}

.buttonWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 46px;
  margin-top: 72px;
  margin-left: 491px;
}

.button-50 {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  background-color: #DD6031;
  background-image: none;
  border: 2px solid #000;
  border-radius: 5px;
  -webkit-box-shadow: rgb(0, 0, 0) 4px 4px 0 0,#000 4px 4px 0 1px;
          box-shadow: rgb(0, 0, 0) 4px 4px 0 0,#000 4px 4px 0 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FEEFE5;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  width: 150px;
  height: 50px;
  text-align: center;
  text-transform: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  -webkit-box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
          box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  -webkit-box-shadow: rgb(0, 0, 0) 2px 2px 0 0, #000 2px 2px 0 1px;
          box-shadow: rgb(0, 0, 0) 2px 2px 0 0, #000 2px 2px 0 1px;
  -webkit-transform: translate(2px, 2px);
      -ms-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

.navBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 1524px;
  height: 92px;
  background-color: #FFCF00;
  margin-top: 51px;
  border: 2px solid black;
  z-index: 0;
}

.footerRedBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 1524px;
  height: 610px;
  margin-top: 5390px;
  background-color: #DD6031;
  border: 5px solid black;
  z-index: 0;
}
.footerYellowBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 1524px;
  height: 118px;
  margin-top: 5545px;
  background-color: #FFCF00;
  border: 5px solid black;
  z-index: 98;
}
.footerYellowBoxSecond {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 1524px;
  height: 118px;
  margin-top: 5727px;
  background-color: #FFCF00;
  border: 5px solid black;
  z-index: 98;
}

.redBoxFooterText {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 725px;
  height: 149px;
  margin-top: 5295px;
  margin-left: 399px;
  z-index: 2;
}

.redBoxFooterTextBg {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 725px;
  height: 149px;
  margin-top: 5286px;
  margin-left: 400px;
  z-index: 1;
}

.footerInformation {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 692px;
  height: 40px;
  margin-top: 5587px;
  margin-left: 404px;
  z-index: 99;
}

.footerInformation a{
  text-decoration: none;
  color: #000;
}

.footerInformationSecond {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 1000px;
  height: 40px;
  margin-top: 5766px;
  margin-left: 387px;
  z-index: 99;
}

.footerInformationSecond a{
  text-decoration: none;
  color: #000;
}
/* ------------------ */
/* Back to top button */
/* ------------------ */
#myBtn {
  display: none;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  margin-top: 5px;
  width: 50px;
  height: 70px;
  background-color: #FFCF00;
}

.topButtonWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin-left: 4px;
}
/* ---------- */
/*Skills box  */
/* ---------- */
.skillsRedBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 1524px;
  height: 760px;
  margin-top: 3646px;
  background-color: #DD6031;
  border: 5px solid black;
  z-index: 1;
}

.skillsRedBoxText {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 618px;
  height: 145px;
  margin-top: 3560px;
  margin-left: 190px;
  z-index: 3;
}

.skillsRedBoxTextBg {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 611px;
  height: 142px;
  margin-top: 3571px;
  margin-left: 180px;
  z-index: 2;
}
/* --------------------------------------------------------------------- */
/* SKILLS PIE CHART - Source code: https://codepen.io/t_afif/pen/XWaPXZO */
/* --------------------------------------------------------------------- */

.pieChart {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin-top: 3830px;
  z-index: 10;

}

.pieChartFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
}

@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
  
}

.pie {
  --p:20;
  --b:20px;
  --c:darkred;
  --w:180px;
  
  width:var(--w);
  aspect-ratio: 1;
  position:relative;
  display:-ms-inline-grid;
  display:inline-grid;
  place-content:center;
  font-size:25px;
  border-radius: 200px;
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
}

.pie:before,
.pie:after {
  content:"";
  position:absolute;
  border-radius:50%;
  
}

.pie:before {
  inset:0;
  background:
  -o-radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
  conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  background:
  radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
  conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}

.pie:after {
  inset:calc(50% - var(--b)/2);
  background:var(--c);
  -webkit-transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
      -ms-transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
          transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
  
}

.animate {
  -webkit-animation:p 2s .5s both;
          animation:p 2s .5s both;
}

.no-round:before {
  background-size:0 0,auto;
  
}

.no-round:after {
  content:none;
}

@-webkit-keyframes p {
  from{--p:0}
}

@keyframes p {
  from{--p:0}
}

.skillsText{
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 910px;
  height: 212px;
  margin-top: 4102px;
  margin-left: 307px;
  z-index: 10;
  font-size: 30px;
}
/* ----------------------------------------------------------------------- */
/*  Text Reveal - Source code: https://codepen.io/alvarotrigo/pen/PoKamZy */
/* -------------------------------------------------------------------- */

.reveal{
  position: relative;
  -webkit-transform: translateY(150px);
      -ms-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
  -webkit-transition: 1s all ease;
  -o-transition: 1s all ease;
  transition: 1s all ease;
}

.reveal.active{
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.skillStroke {
  -webkit-text-stroke: 2px #000;
}

/*----------------------------------*/
       /* PLEASE ROTATE */
/*----------------------------------*/
#pleaserotate-backdrop {
  color: #FEEFE5;;
  background-color: #000;
}

#pleaserotate-graphic{
  fill:#FEEFE5;;
}
/* ------------------- */
/* SKILLS BUTTON */
/* ------------------- */

.skillWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin-top: 287em;
  margin-left: 25%;
  z-index: 20;
}

/* ------------------- */
/*  PERSPECTIVE WORDS  */
/* ------------------- */
.Words {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
  width: 500px;
  height: 300px;
  
}

/*
** Apply common styles to each line of text
*/
.Words-line {
  height: 50px;
  overflow: hidden;
  position: relative;
  
}
.Words-line:nth-child(odd) {
  -webkit-transform: skew(60deg, -30deg) scaleY(0.66667);
      -ms-transform: skew(60deg, -30deg) scaleY(0.66667);
          transform: skew(60deg, -30deg) scaleY(0.66667);
}
.Words-line:nth-child(even) {
  -webkit-transform: skew(0deg, -30deg) scaleY(1.33333);
      -ms-transform: skew(0deg, -30deg) scaleY(1.33333);
          transform: skew(0deg, -30deg) scaleY(1.33333);
}
.Words-line:nth-child(1) {
  left: 29px;
}
.Words-line:nth-child(2) {
  left: 58px;
}
.Words-line:nth-child(3) {
left: 87px;
}
.Words-line:nth-child(4) {
  left: 116px;
}
.Words-line:nth-child(5) {
  left: 145px;
}
.Words-line:nth-child(6) {
  left: 174px;
}
.Words-line:nth-child(7) {
  left: 203px;
}
.Words-line:nth-child(8) {
  left: 232px;
}
.Words-line:nth-child(9) {
  left: 261px;
}

/*
** Fine-grained text styles
*/
.skillWrapper p {
  height: 55px;
  /* line-height: 5 5px; */
  padding: 0 10px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
 
  vertical-align: top;
  white-space: nowrap;
  color: #FFCF00;
  text-shadow: -3px 0px 3px black;
}


.skillRotateWrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin-top: 4832px;
  margin-left: 1108px;
  z-index: 99;
}

.skillRotateBtn {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  background-color: #DD6031;
  background-image: none;
  border: 2px solid #000;
  border-radius: 100px;
  -webkit-box-shadow: rgb(0, 0, 0) 4px 10px 10px 0,#000 4px 4px 0 1px;
          box-shadow: rgb(0, 0, 0) 4px 10px 10px 0px,#000 4px 4px 0 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FEEFE5;
  cursor: pointer;
  font-size: 19px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  width: 150px;
  height: 150px;
  text-align: center;
  text-transform: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  rotate: 25deg;
}

.skillRotateBtn:focus {
  text-decoration: none;
}

.skillRotateBtn:hover {
  text-decoration: none;
}

.skillRotateBtn:active {
  -webkit-box-shadow: rgba(0, 0, 0, .125) 0 1px 1px inset;
          box-shadow: rgba(0, 0, 0, .125) 0 1px 1px inset;
  outline: 0;
}

.skillRotateBtn:not([disabled]):active {
  -webkit-box-shadow: rgb(0, 0, 0) 2px 2px 0 0, #000 0px 0px 0 1px;
          box-shadow: rgb(0, 0, 0) 0px 0px 0 0, #000 0px 0px 0 1px;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}



.transform {
  -webkit-transition: all 2s ease;  
  -o-transition: all 2s ease;  
  transition: all 2s ease;
}

.transform-active {
 -webkit-transform: translate3d(0, -55px, 0);
         transform: translate3d(0, -55px, 0);
}



